body{
    background-color: #252530;
    padding: 0 55px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftbar{
    
}

.leftlogo a{
    padding-left: 150px;
    color: azure;
}

nav ul{
    list-style: none;
    display: flex;
    padding-right: 150px;

}

nav{
    display: flex;
}

nav li{
    margin: 0 15px;
    position: relative;
   
}

nav ul li a{
    color: azure;
    text-decoration: none;
    font-family: Mulish;
    font-weight: bold;
    
    
}


nav > ul > li > a::before{
    position: absolute;
    top: 1px;
    right: -10px;
    width: 6px;
    height: 6px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .3s;
    /* transition-property: background-color, opacity; */
    border-radius: 7px;
    background-color: #ffb369;
    background-color: transparent;
}

 nav > ul > li > a:hover::before {
        background-color: rgb(114, 101, 109);
    }

.selected::before{
    background-color: #ffb369;
}

.selected:hover::before{
    background-color: #ffb369;
}

.search-logo{
    height: 25px;
}


.fullcontent{
    display: flex;
    flex: wrap;
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    

}


.mainfirstleftelement{
    position: relative;
    
}

.leftimage{
    height: 450px;
}

.leftimage img{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
   object-fit: cover;
}




.rightblockcontent{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    gap: 10px;
    flex-basis: 47%;
    margin-left: 10px;
    
    
    
}

.mainfirstrightelement{
   
    height: 220px;
    width: 300px;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
}

.rightimage{
    height: 100%;
    width: 100%;
    
}

.rightimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
   
}



.leftlabel, .rightlabel1, .rightlabel3 { 
    position: absolute;
    top: 16px;
    left: 15px;
    background-color: #ebebeb;
    color: #333350;
    font-family: Mulish;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    padding: 5px 7px 5px 9px;
    text-transform: uppercase;
    margin: 0;
    border-radius: 25px;
 }

 .rightlabel2, .rightlabel4{
    position: absolute;
    top: 16px;
    left: 15px;
    background-color: #333350;
    color: #ebebeb;
    font-family: Mulish;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    padding: 5px 7px 5px 9px;
    text-transform: uppercase;
    margin: 0;
    border-radius: 25px;
 }

.lefttextcontainer, .righttextcontainer1, .righttextcontainer3 {
    position: absolute;
    bottom: 16px;
    left: 15px;
    color: #ebebeb;
    font-family: Mulish, serif;
    font-size: 13px;

}

.righttextcontainer2, .righttextcontainer4 {
    position: absolute;
    bottom: 16px;
    left: 15px;
    color: #333350;
    font-family: Mulish, serif;
    font-size: 13px;

}


.lefttext1 a, .righttext1 a{
    text-decoration: none;
    color: #ebebeb;
}

.righttext12 a, .righttext14 a{
    text-decoration: none;
    color: #333350;
}


.lefttext2{
    font-family: 'Corben', sans-serif;
    font-size: 24px;
    margin: 0 20px 2px 0;
    line-height: 1.4;
}

.righttext2{
    font-family: 'Corben', sans-serif;
    font-size: 16px;
    margin: 0 20px 2px 0;
    line-height: 1.4;
}

.containercolor1{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: blue;
    width: 450px;
    height: 220px;

}

.containercolor2{
    position: absolute;
    top: 0;
    opacity: 1;
    background-color: #f1a962;
    width: 450px;
    height: 220px;

}

.containercolor3{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: purple;
    width: 450px;
    height: 220px;

}
.containercolor4{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: rgb(244, 124, 144);
    width: 450px;
    height: 220px;

}























