body{
    background-color: #252530;
    padding: 0 55px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftbar{
    color: #ebebeb;
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: auto;
    text-align: center;
    width: 50px;
    height: 100%;
    letter-spacing: 1.5px;
    font-family: Mulish;
    
}

.leftlogo a{
    padding-left: 150px;
    color: azure;
}

nav ul{
    list-style: none;
    display: flex;
    padding-right: 150px;

}

nav{
    display: flex;
}

nav li{
    margin: 0 15px;
    position: relative;
   
}

nav ul li a{
    color: azure;
    text-decoration: none;
    font-family: Mulish;
    font-weight: bold;
    
    
}


nav > ul > li > a::before{
    position: absolute;
    top: 1px;
    right: -10px;
    width: 6px;
    height: 6px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .3s;
    /* transition-property: background-color, opacity; */
    border-radius: 7px;
    background-color: #ffb369;
    background-color: transparent;
}

 nav > ul > li > a:hover::before {
        background-color: rgb(114, 101, 109);
    }

.selected::before{
    background-color: #ffb369;
}

.selected:hover::before{
    background-color: #ffb369;
}

.search-logo{
    height: 25px;
}


.fullcontent{
    display: flex;
    /* flex: wrap; */
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    

}


.mainfirstleftelement{
    position: relative;
    
    
}


.leftblockcontent{
    flex-basis: 30%;
    padding-top: 5px;
    transition: 0.3s;
    /* width: ; */
}


.leftblockcontent:hover{
    padding: 0;
}

.leftimage{
    height: 450px;
}

.leftimage img{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
   object-fit: cover;
}




.rightblockcontent{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    gap: 10px;
    flex-basis: 50%;
    margin-left: 10px;
    
    
    
}

.mainfirstrightelement{
   
    height: 220px;
    width: 48%;
   
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
}

.rightimage{
    height: 100%;
    width: 100%;
    
}

.rightimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
   
}



.leftlabel, .rightlabel1, .rightlabel3 { 
    position: absolute;
    top: 16px;
    left: 15px;
    background-color: #ebebeb;
    color: #333350;
    font-family: Mulish;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    padding: 5px 7px 5px 9px;
    text-transform: uppercase;
    margin: 0;
    border-radius: 25px;
 }

 .rightlabel2, .rightlabel4{
    position: absolute;
    top: 16px;
    left: 15px;
    background-color: #333350;
    color: #ebebeb;
    font-family: Mulish;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    padding: 5px 7px 5px 9px;
    text-transform: uppercase;
    margin: 0;
    border-radius: 25px;
 }

.lefttextcontainer, .righttextcontainer1, .righttextcontainer3 {
    position: absolute;
    bottom: 16px;
    left: 15px;
    color: #ebebeb;
    font-family: Mulish, serif;
    font-size: 13px;

}

.righttextcontainer2, .righttextcontainer4 {
    position: absolute;
    bottom: 16px;
    left: 15px;
    color: #333350;
    font-family: Mulish, serif;
    font-size: 13px;

}


.lefttext1 a, .righttext1 a{
    text-decoration: none;
    color: #ebebeb;
}

.righttext12 a, .righttext14 a{
    text-decoration: none;
    color: #333350;
}


.lefttext2{
    font-family: 'Corben', sans-serif;
    font-size: 24px;
    margin: 0 20px 2px 0;
    line-height: 1.4;
}

.righttext2{
    font-family: 'Corben', sans-serif;
    font-size: 16px;
    margin: 0 20px 2px 0;
    line-height: 1.4;
}

.containercolor{
    position: absolute;
    top: 0;
    opacity: 0.3;
    background-color: gray;
    width: 100%;
    height: 450px;
}

.containercolor1{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: blue;
    width: 100%;
    height: 220px;

}

.containercolor2{
    position: absolute;
    top: 0;
    opacity: 1;
    background-color: #f1a962;
    width: 100%;
    height: 220px;

}

.containercolor3{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: purple;
    width: 100%;
    height: 220px;

}
.containercolor4{
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: rgb(244, 124, 144);
    width: 100%;
    height: 220px;

}

.centralmaincontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    width: 80%;
    
}


.centralelementcontainer{
    position: relative;
    /* display: flex; */
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
   
}

.width48 {
    width: 48%
}

.width30{
    width: 31%;
}

.centralimage{
    width: 100%;
    height: 500px;
 
    
}

.centralimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}



.title {
    position: absolute;
    bottom: 150px;
    left: 20px;
    
    color: #ebebeb;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Corben', sans-serif;
    font-size: 24px;
    margin: 0 20px 2px 0;
    width: 80%;
}

.title a{
    text-decoration: none;
    color: #ebebeb;
}

   

    

.centraltext {
    position: absolute;
    top: 160px;
    left: 20px;
    
    /* display: flex;
    justify-content: center; */
    
    gap: 10px;
   
 }

.centraltext a{
    text-decoration: none;
    border:1px solid;
    margin: 0;
    background-color: #ebebeb;
    color: #333350;
    font-family: Mulish;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    padding: 5px 7px 5px 9px;
    text-transform: uppercase;
    border-radius: 25px;
}

.centraltextcontainer {
    width: 80%;
    height: 80%;
}

.authors {
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: #ebebeb;
}

.authors a{
    text-decoration: none;
    color: #ebebeb;
    font-family: Mulish;
    font-weight: 400;
}

.containercolor5{
    position: absolute;
    top: 0;
    opacity: 0.5;
    background-color: rgb(107, 105, 105);
    width: 100%;
    height: 500px;
}

.containercolor6{
    position: absolute;
    top: 0;
    opacity: 0.8;
    background-color: rgb(201, 171, 62);
    width: 100%;
    height: 500px;
}

.title h2 a::after{
    position: absolute;
    content:'→';
    color: transparent;
    transition-duration: .3s;
   
    
}

.title h2 a:hover::after{
    position: absolute;
    content: '→';
    color: #ebebeb;
    transition-duration: .3s;
    
}



.text7{
    position: absolute;
    bottom: 130px;
    left: 20px;
    font-family: Mulish;
    font-weight: 400;
}












