body{
    margin: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200px 100px 500px;
    grid-area: "header header header header header";

}

main{
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
}

nav ul li{
    list-style-type: none;

}

nav ul{
    display: flex;
}

.products{

}