body{
    margin: auto;
   max-width: 800px;

}
header{
    grid-area: header;
    text-align: center;
}
nav{
    margin: auto;
}

nav > ul {
    display: flex;
    justify-content: center;

}

nav > ul > li{
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;


}

.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    grid-template-areas:
     "introduction ."
     "products ad";
}

.introduction{
    grid-area: introduction;
    text-align: center;

}


/* nav > ul{
    display: grid;
} */

.products{
    display: flex;
    grid-area: products;
    flex-wrap: wrap;
  

}

.subdiv{
    border: 1px gold solid;
    margin: 30px;
    width: 200px;
    height: 150px;
    padding: 5px;
    background-color: gray;



}

.ad{
    grid-area: ad;
}

